---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";

import peopleImg from "./01_PEOPLE_BRIDGE.webp";
import placesImg from "./02_PLACES_BRIDGE.webp";
import practicesImg from "./03_PRACTICES_BRIDGE.webp";
import Timeline from "../../components/navbar/Timeline.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

// timeline
const from = 1957;
const to = 2023;
const importantDates = [1957, 1991, 2004, 2007, 2023];

// map
const zoomTo: [number, number] | undefined = [46.1828628, 13.716951];
const places: [number, number][] = [
  [46.1828628, 13.716951],
  [46.1828628, 13.716951],
];
export const zoom = 15;

export const tKey = "bridge";
export const index = 9;

export const locations: MapLocation[] = [
  { name: "Slavski Laz / Čedanj", coords: [45.4823314, 14.893984] },
  { name: "Kočevje", coords: [45.6407351, 14.8628594] },
  {
    name: "Kolpa/Kupa",
    type: "river",
    gejson: {
      type: "FeatureCollection",
      features: [
        {
          type: "Feature",
          properties: {},
          geometry: {
            type: "LineString",
            coordinates: [
              [14.689342, 45.491092],
              [14.691722, 45.491159],
              [14.692748, 45.492487],
              [14.692504, 45.493918],
              [14.698553, 45.494965],
              [14.701457, 45.496817],
              [14.701017, 45.505506],
              [14.703856, 45.510774],
              [14.701395, 45.515511],
              [14.703664, 45.517223],
              [14.699924, 45.525529],
              [14.70313, 45.528291],
              [14.701507, 45.532858],
              [14.71057, 45.533624],
              [14.723408, 45.533462],
              [14.731576, 45.528526],
              [14.735253, 45.530237],
              [14.737687, 45.524778],
              [14.760104, 45.510159],
              [14.769941, 45.512548],
              [14.768071, 45.505698],
              [14.786442, 45.506826],
              [14.78652, 45.501695],
              [14.78931, 45.499996],
              [14.795926, 45.503452],
              [14.803718, 45.495401],
              [14.798545, 45.491577],
              [14.800403, 45.48833],
              [14.805304, 45.487014],
              [14.804976, 45.479343],
              [14.816224, 45.45939],
              [14.868332, 45.466997],
              [14.892168, 45.477409],
              [14.910235, 45.480612],
              [14.914239, 45.507665],
              [14.921072, 45.52695],
              [14.951415, 45.518226],
              [14.985323, 45.496754],
              [15.014466, 45.4992],
              [15.026586, 45.484507],
              [15.055568, 45.494585],
              [15.086862, 45.482681],
              [15.087448, 45.468512],
              [15.138427, 45.443253],
              [15.160328, 45.424891],
              [15.180586, 45.427954],
              [15.19154, 45.436919],
              [15.200845, 45.431016],
              [15.226291, 45.427295],
              [15.274525, 45.466807],
              [15.343889, 45.458574],
              [15.392163, 45.494448],
              [15.343499, 45.505489],
              [15.307363, 45.536442],
              [15.300289, 45.577189],
              [15.282993, 45.607219],
              [15.305363, 45.618336],
              [15.302172, 45.630833],
              [15.353549, 45.637751],
              [15.34238, 45.646452],
              [15.389289, 45.640205],
              [15.403969, 45.646675],
              [15.443539, 45.646452],
              [15.454389, 45.630387],
              [15.476088, 45.625031],
              [15.466515, 45.614988],
              [15.502256, 45.619229],
              [15.513105, 45.628825],
              [15.50417, 45.614764],
              [15.535762, 45.604719],
              [15.535762, 45.604719],
              [15.517367, 45.559659],
              [15.533923, 45.515851],
            ],
          },
        },
      ],
    },
  },
];
---

<Layout>
  <TitleBar
    title1={t("bridge.title1")}
    title2={t("bridge.title2")}
    author={t("bridge.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("bridge.intro.first")}
      body2={t("bridge.intro.second")}
      leftQuote="Godine 1957. stanovnici obje obale zajednički su financirali i izgradili most u blizini Slavskog Laza (SI) i Čednja (HR)."
    />

    <LeftText
      body={t("bridge.people.text")}
      image={peopleImg}
      source={"© " + t("bridge.people.source")}
      title={t("generic.people")}
    />
    <div class="my-48"></div>
    <RightText
      body={t("bridge.places.text")}
      image={placesImg}
      source={"© " + t("bridge.places.source")}
      title={t("generic.places")}
    />
    <div class="my-32"></div>
  </Container>

  <BlueBoxText
    body={t("bridge.practices.text")}
    image={practicesImg}
    source={"© " + t("bridge.practices.source")}
    title={t("generic.practices")}
  />

  <Container>
    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/TOURISM/", Astro.url.pathname)}
        tKey="tourism"
      />
    </div>
  </Container>
</Layout>
