---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";

import peopleImg from "./01_PEOPLE_BRIDGE.webp";
import placesImg from "./02_PLACES_BRIDGE.webp";
import practicesImg from "./03_PRACTICES_BRIDGE.webp";
import Timeline from "../../components/navbar/Timeline.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

// timeline
const from = 1957;
const to = 2023;
const importantDates = [1957, 1991, 2004, 2007, 2023];

// map
const zoomTo: [number, number] | undefined = [46.1828628, 13.716951];
const places: [number, number][] = [
  [46.1828628, 13.716951],
  [46.1828628, 13.716951],
];
export const zoom = 15;

export const tKey = "bridge";
export const index = 9;

export const locations: MapLocation[] = [
  { name: "Slavski Laz", coords: [45.4823314, 14.893984] },
];
---

<Layout>
  <TitleBar
    title1={t("bridge.title1")}
    title2={t("bridge.title2")}
    author={t("bridge.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("bridge.intro.first")}
      body2={t("bridge.intro.second")}
      leftQuote="Godine 1957. stanovnici obje obale zajednički su financirali i izgradili most u blizini Slavskog Laza (SI) i Čednja (HR)."
    />

    <LeftText
      body={t("bridge.people.text")}
      image={peopleImg}
      source={"© " + t("bridge.people.source")}
      title={t("generic.people")}
    />
    <div class="my-48"></div>
    <RightText
      body={t("bridge.places.text")}
      image={placesImg}
      source={"© " + t("bridge.places.source")}
      title={t("generic.places")}
    />
    <div class="my-32"></div>
  </Container>

  <BlueBoxText
    body={t("bridge.practices.text")}
    image={practicesImg}
    source={"© " + t("bridge.practices.source")}
    title={t("generic.practices")}
  />

  <Container>
    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/TOURISM/", Astro.url.pathname)}
        tKey="tourism"
      />
    </div>
  </Container>
</Layout>
