---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import Timeline from "../../components/navbar/Timeline.astro";

import peopleImg from "./01_PEOPLE_PASS.big.webp";
import peopleImg2 from "./pass_tolmin.png";
import practicesImg from "./02_PLACES_PASS.webp";
import placesImg from "./03_PRACTICES_PASS.webp";
import { generateLocaleLink } from "../../components/langSelect/languageutils";
import LeftText from "../../components/textIslands/LeftText.astro";
import DoubleImageBox from "../../components/textIslands/DoubleImageBox.astro";

export const tKey = "pass";
export const index = 1;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1947;
const to = 1991;
const importantDates = [1947, 1955, 1956, 1991];

export const locations: MapLocation[] = [
  { name: "Fernetiči/Fernetti", coords: [45.6984533, 13.8218848] },
  { name: "Krvavi Potok pri Kozina", coords: [45.619921, 13.9005007] },
];
---

<Layout>
  <TitleBar
    title1={t("pass.title1")}
    title2={t("pass.title2")}
    author={t("pass.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("pass.intro.first")}
      body2={t("pass.intro.second")}
      leftQuote="... facendo della mobilità transfrontaliera una pratica quotidiana per molti residenti delle zone di confine e una pratica regolare per molti altri."
    />
    <DoubleImageBox
      body={t("pass.people.text")}
      imageLeft={peopleImg}
      imageRight={peopleImg2}
      source={t("pass.people.source")}
      title={t("generic.people")}
    />
    <div class="my-24"></div>

    <LeftText
      body={t("pass.places.text")}
      image={placesImg}
      source={t("pass.places.source")}
      title={t("generic.places")}
    />
  </Container>
  <BlueBoxText
    right
    body={t("pass.practices.text")}
    image={practicesImg}
    source={t("pass.practices.source")}
    title={t("generic.practices")}
  />
  <Container>
    <div class="pt-48"></div>
    <ArrowNext
      href={generateLocaleLink("/ALPE-ADRIA/", Astro.url.pathname)}
      tKey="alpeadria"
    />
  </Container>
</Layout>
