---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";

import { generateLocaleLink } from "../../components/langSelect/languageutils";
import Timeline from "../../components/navbar/Timeline.astro";
import OverlayRightBox from "../../components/textIslands/OverlayRightBox.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";

import peopleImg from "./01_PEOPLE_HEALTH.png";
import placesImg from "./02_PLACES_HEALTH.png";
import practicesImg from "./03_PRACTICES_HEALTH_a.png";
import practicesImgb from "./03_PRACTICES_HEALTH_b.png";
import DoubleImageBox from "../../components/textIslands/DoubleImageBox.astro";

export const tKey = "health";
export const index = 8;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1945;
const to = 1959;
const importantDates = [1945, 1959];

export const locations: MapLocation[] = [
  { name: "Trieste", coords: [45.694287, 13.435556] },
  { name: "Gorizia", coords: [45.947075, 13.568415] },
  { name: "Valdoltra Hospital in Ankaran", coords: [45.5810065, 13.7249102] },
];
---

<Layout>
  <TitleBar
    title1={t("health.title1")}
    title2={t("health.title2")}
    author={t("health.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("health.intro.first")}
      body2={t("health.intro.second")}
    />
    <RightText
      body={t("health.people.text")}
      image={peopleImg}
      source={t("health.people.source")}
      title={t("generic.people")}
    />
    <div class="mt-32"></div>
    <LeftText
      body={t("health.places.text")}
      image={placesImg}
      source={t("health.places.source")}
      title={t("generic.places")}
    />
  </Container>

  <DoubleImageBox
    body={t("health.practices.text")}
    imageRight={practicesImg}
    imageLeft={practicesImgb}
    source={t("health.practices.source")}
    title={t("generic.practices")}
  />
  <Container>
    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/BRIDGE/", Astro.url.pathname)}
        tKey="bridge"
      />
    </div>
  </Container>
</Layout>
