---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import Footer from "../../components/footer/Footer.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import Timeline from "../../components/navbar/Timeline.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";

import peopleImg from "./01__PEOPLE_MOUNT_b.png";
import placesImg from "./02_PLACES_MOUNT_a.png";
import practicesImg from "./03_PRACTICES_MOUNT.png";
import OverlayText from "../../components/textIslands/OverlayText.astro";
import OverlayRightBox from "../../components/textIslands/OverlayRightBox.astro";

export const tKey = "mount";
export const index = 11;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
const from = 1965;
const to = 1990;
const importantDates = [1965, 1967, 1972, 1980, 1990];

export const locations: MapLocation[] = [
  { name: "Peč", coords: [46.533347, 13.706367] },
  { name: "Friuli-Venezia Giulia", coords: [46.1134603, 12.4605062] },
  { name: "Carinthia", coords: [46.750857, 13.2016275] },
];
---

<Layout>
  <TitleBar
    title1={t("mount.title1")}
    title2={t("mount.title2")}
    author={t("mount.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      title1={t("mount.title1")}
      title2={t("mount.title2")}
      author={t("mount.author")}
      body1={t("mount.intro.first")}
      body2={t("mount.intro.second")}
    />
  </Container>

  <BlueBoxText
    body={t("mount.people.text")}
    image={peopleImg}
    source={t("mount.people.source")}
    title={t("generic.people")}
  />

  <Container>
    <div class="py-50">
      <LeftText
        body={t("mount.places.text")}
        image={placesImg}
        source={t("mount.places.source")}
        title={t("generic.places")}
      />
    </div>
    <RightText
      body={t("mount.practices.text")}
      image={practicesImg}
      source={t("mount.practices.source")}
      title={t("generic.practices")}
    />
    <div class="flex justify-end">
      <ArrowNext />
    </div>
    <div class="flex justify-end mt-24">
      <ArrowNext href={generateLocaleLink("/HEALTH/", Astro.url.pathname)}
        >{t("health.title1")}</ArrowNext
      >
    </div>
  </Container>
</Layout>
