---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import LeftText from "../../components/textIslands/LeftText.astro";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { generateTranslationContent, initializei18n } from "../../utils/i18n";

import OverlayText from "../../components/textIslands/OverlayText.astro";
import peopleImg from "./01_PEOPLE_SPORT.webp";
import placesImg from "./02_PLACES_SPORT.webp";
import practicesImg from "./03_PRACTICES_SPORT.webp";

import { generateLocaleLink } from "../../components/langSelect/languageutils";
import Timeline from "../../components/navbar/Timeline.astro";
import ImageTitleText from "../../components/textIslands/ImageTitleText.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";

export const tKey = "sport";
export const index = 12;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
const resources = await generateTranslationContent();

const from = 1947;
const to = 1986;
const importantDates = [1947, 1955, 1965, 1985, 1986];

export const locations: MapLocation[] = [
  { name: "Gorizia", coords: [45.947075, 13.5684153], type: "place" },
  { name: "Nova Gorica", coords: [45.9561726, 13.6377048], type: "place" },
  {
    name: "Gradisca d’Isonzo/Gradišče ob Soči",
    coords: [45.8897737, 13.4887461],
    type: "place",
  },
  { name: "Trieste/Trst", coords: [45.6509822, 13.7728388], type: "place" },
  {
    name: "Erjavčeva / Via S. Gabriele",
    type: "street",
    gejson: {
      type: "FeatureCollection",
      features: [
        {
          type: "Feature",
          properties: {},
          geometry: {
            type: "LineString",
            coordinates: [
              [13.64776, 45.956265],
              [13.628616, 45.951012],
            ],
          },
        },
      ],
    },
  },
];
---

<Layout>
  <TitleBar
    title1={t("sport.title1")}
    title2={t("sport.title2")}
    author={t("sport.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent
      client:only
      locations={locations}
      locale={locale}
      resources={resources}
    />
  </div>
  <Container>
    <TitleCols body1={t("sport.intro.first")} body2={t("sport.intro.second")} />
  </Container>

  <OverlayText
    body={t("sport.people.text")}
    image={peopleImg}
    source={t("sport.people.source")}
    title={t("generic.people")}
  />
  <Container>
    <div class="lg:py-48">
      <ImageTitleText
        body={t("sport.places.text")}
        image={placesImg}
        source={t("sport.places.source")}
        title={t("generic.places")}
      />
    </div>
    <LeftText
      body={t("sport.practices.text")}
      image={practicesImg}
      source={t("sport.practices.source")}
      title={t("generic.practices")}
    />
    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/PUNK/", Astro.url.pathname)}
        tKey="punk"
      />
    </div>
  </Container>
</Layout>
