---
import TextInitial from "../TextInitial.astro";
import TextWithYears from "../yearWrapper/TextWithYears";

interface Props {
  title1: string;
  title2: string;
  body1: string;
  body2: string;
  author: string;
}

const { body1, body2, title1, title2, author } = Astro.props;
---

<div class="grid lg:grid-cols-2 grid-cols-1 w-full lg:pb-55">
  <div class="w-full flex flex-col lg:-mt-[30vh] z-30">
    <h1 class="text-9xl font-black text-white font-aleo hidden lg:block">
      {title1}
    </h1>

    <div class="bg-white flex flex-col px-8 z-30 gap-8 py-8">
      <span class="lg:max-w-lg max-w-prose text-justify lg:mx-auto text-lg">
        <TextInitial text={body1} />
      </span>
    </div>
  </div>
  <div class="flex flex-col z-30 lg:-mt-[20vh]">
    <h1 class="text-9xl font-black text-white font-aleo px-8 hidden lg:block">
      {title2}
    </h1>
    <div class="bg-white flex flex-col lg:py-8 gap-8">
      <div class="ml-auto px-16">
        <span class="text-brand-beige-dark text-2xl font-bold">{author}</span>
      </div>
      <span class="lg:max-w-lg max-w-prose text-justify lg:mx-auto text-lg">
        <TextWithYears body={body2} client:idle />
      </span>
    </div>
  </div>
</div>
