---
import { Image } from "astro:assets";
import TitleBox from "../TitleBox.astro";
import ImageWraper from "../ImageWraper.astro";
import TextWithYears from "../yearWrapper/TextWithYears";
import Container from "../../layouts/Container.astro";
interface Props {
  title: string;
  body: string;
  source: string;
  image: ImageMetadata;
  right?: boolean;
}

const { title, body, image, source, right } = Astro.props;
---

<div class="w-full py-8 flex flex-col gap-8 relative">
  <Container>
    {
      right ? (
        <div class="py-8 flex lg:justify-end px-6">
          <div>
            <h3 class="text-9xl font-bold text-brand-blue absolute opacity-10 -ml-18 -mt-6">
              {title}
            </h3>
            <h3 class="text-6xl font-bold text-brand-blue">{title}</h3>
          </div>
        </div>
      ) : (
        <div class="px-y flex px-6">
          <div>
            <h3 class="text-9xl font-bold text-brand-blue absolute opacity-10 -ml-32 -mb-12">
              {title}
            </h3>
            <h3 class="text-6xl font-bold text-brand-blue">{title}</h3>
          </div>
        </div>
      )
    }

    <div
      class="flex items-center justify-center z-10 md:px-[10%] flex-col lg:-mx-16"
    >
      <ImageWraper>
        <div class="shadow-xl">
          <Image src={image} alt="ajow" class="w-full h-full object-contain" />
        </div>
      </ImageWraper>
    </div>
  </Container>

  <div class="flex flex-col gap-8 bg-brand-blue p-8 text-white -mt-56 pt-56">
    <span class="text-justify max-w-prose mx-auto pt-8">
      <TextWithYears body={body} client:idle />
    </span>
    <span class="ml-auto font-light text-white">{source}</span>
  </div>
</div>
