---
import { Image } from "astro:assets";
import TitleBox from "../TitleBox.astro";
import ImageWraper from "../ImageWraper.astro";
import TextWithYears from "../yearWrapper/TextWithYears";
interface Props {
  title: string;
  body: string;
  source: string;
  image: ImageMetadata;
}

const { title, body, image, source } = Astro.props;
---

<div
  class="w-full grid md:grid-cols-4 grid-cols-1 py-8 lg:px-4 gap-8 -mt-32 lg:-mt-0"
>
  <div class="flex items-center justify-center col-span-3 md:-ml-48">
    <ImageWraper>
      <Image
        src={image}
        alt="Exhibition image"
        class="w-full h-full object-contain"
      />
    </ImageWraper>
  </div>

  <div class="flex flex-col lg:py-0 py-8 px-6">
    <div class="flex flex-col gap-8 relative">
      <h3 class="text-brand-blue font-bold text-6xl">{title}</h3>
      <h3
        class="text-[12rem] font-bold text-brand-blue absolute opacity-10 -ml-3 -mt-21 tracking-widest"
      >
        {title}
      </h3>
    </div>
  </div>

  <div class="col-span-full flex justify-start p-8 pt-0">
    <div class="flex flex-col">
      <span class="text-justify max-w-prose">
        <TextWithYears body={body} client:idle />
      </span>
      <span class="ml-auto font-light text-brand-beige-dark">{source}</span>
    </div>
  </div>
</div>
