---
import { Image } from "astro:assets";
import TitleBox from "../TitleBox.astro";
import ImageWraper from "../ImageWraper.astro";
import { extractYears } from "../../utils/yearsHighlite";
import { Year } from "../yearWrapper/yearWrapper";
import TextWithYears from "../yearWrapper/TextWithYears";
interface Props {
  title: string;
  body: string;
  source: string;
  image: ImageMetadata;
}

const { title, body, image, source } = Astro.props;
const bodyExtracted = extractYears(body, Year);
---

<div class="w-full grid md:grid-cols-2 grid-cols-1 lg:px-4 gap-8 px-6">
  <!-- image -->
  <div class="flex items-end justify-end order-2 md:order-0">
    <div class="border-4 border-white z-10 w-full max-w-xl lg:mr-auto mx-auto">
      <ImageWraper>
        <Image
          src={image}
          alt="Exhibition image"
          class="w-full h-full object-contain lg:pt-0 pt-8"
        />
      </ImageWraper>
    </div>
  </div>

  <!-- TEXT -->
  <div class="flex flex-col gap-8 relative">
    <!-- <TitleBox title={title} /> -->
    <h3 class="text-brand-blue font-bold text-6xl">{title}</h3>

    <h3
      class="text-[12rem] font-bold text-brand-blue absolute opacity-10 ml-2 -mt-48 tracking-tight"
    >
      {title}
    </h3>
    <span class="text-justify max-w-prose">
      <TextWithYears body={body} client:idle />
    </span>
    <span class="font-light text-brand-beige-dark ml-auto lg:ml-0 px-8 lg:px-0"
      >{source}</span
    >
  </div>
</div>
