---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";

import { generateLocaleLink } from "../../components/langSelect/languageutils";
import Timeline from "../../components/navbar/Timeline.astro";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import peopleImg from "./01_PEOPLE_BUSINESS.png";
import placesImg from "./02_PLACES_BUSINESS.png";
import practicesImg from "./03_PRACTICES_BUSINESS.png";

export const tKey = "business";
export const index = 4;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1970;
const to = 1990;
const importantDates = [1970, 1977, 1978, 1980, 1990];

export const locations: MapLocation[] = [
  { name: "Carinthia", coords: [46.750857, 13.2016275] },
  { name: "Fürnitz/Brnca", coords: [46.56108, 13.7969956] },
  { name: "Bad Eisenkappel/Železna Kapla", coords: [46.4884328, 14.5801543] },
];
---

<Layout>
  <TitleBar
    title1={t("business.title1")}
    title2={t("business.title2")}
    author={t("business.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("business.intro.first")}
      body2={t("business.intro.second")}
      leftQuote="Trotz aller Hindernisse entstanden bis Ende der 1980er Jahre mehr als 20 Betriebe mit 800 Beschäftigten, die überwiegend aus der lokalen Bevölkerung stammten."
    />
    <LeftText
      body={t("business.people.text")}
      image={peopleImg}
      source={t("business.people.source")}
      title={t("generic.people")}
    />
  </Container>

  <BlueBoxText
    body={t("business.places.text")}
    image={placesImg}
    source={t("business.places.source")}
    title={t("generic.places")}
  />

  <Container>
    <div class="pt-48">
      <RightText
        body={t("business.practices.text")}
        image={practicesImg}
        source={t("business.practices.source")}
        title={t("generic.practices")}
      />
    </div>
    <ArrowNext
      href={generateLocaleLink("/HUNT/", Astro.url.pathname)}
      tKey="hunt"
    />
  </Container>
</Layout>
