---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import Timeline from "../../components/navbar/Timeline.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import { initializei18n } from "../../utils/i18n";

import OverlayRightBox from "../../components/textIslands/OverlayRightBox.astro";
import peopleImg from "./01_PEOPLE_POLITICS.png";
import placesImg from "./02_PLACES_POLITICS_a.png";
import practicesImg from "./03_PRACTICES_POLITICS_a.png";

export const tKey = "politics";
export const index = 3;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1960;
const to = 1991;
const importantDates = [1960, 1969, 1991];

export const locations: MapLocation[] = [
  { name: "Gornja Radgona", coords: [46.6716853, 15.9861213] },
  { name: "Bad Radkersburg (Austria)", coords: [46.6839237, 15.9867267] },
  { name: "Karavanke Mountains", coords: [46.4390926, 14.3706226] },
];
---

<Layout>
  <TitleBar
    title1={t("politics.title1")}
    title2={t("politics.title2")}
    author={t("politics.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols
      body1={t("politics.intro.first")}
      body2={t("politics.intro.second")}
    />
  </Container>

  <OverlayRightBox
    body={t("politics.people.text")}
    image={peopleImg}
    source={t("politics.people.source")}
    title={t("generic.people")}
  />
  <Container>
    <div class="lg:py-48">
      <LeftText
        body={t("politics.places.text")}
        image={placesImg}
        source={t("politics.places.source")}
        title={t("generic.places")}
      />
    </div>
    <LeftText
      body={t("politics.practices.text")}
      image={practicesImg}
      source={t("politics.practices.source")}
      title={t("generic.practices")}
    />
    <ArrowNext
      href={generateLocaleLink("/BUSINESS/", Astro.url.pathname)}
      tKey="business"
    />
  </Container>
</Layout>
