---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";

import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import ImageTitleText from "../../components/textIslands/ImageTitleText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";

import peopleImg from "./01_PEOPLE_ALPE-ADRIA.png";
import placesImg from "./02_PLACES_ALPE-ADRIA.png";
import practicesImg from "./03_PRACTICES_ALPE-ADRIA.png";
import TitleBar from "../../components/Title/TitleBar.astro";
import Timeline from "../../components/navbar/Timeline.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";
import RightText from "../../components/textIslands/RightText.astro";
import Sidebar from "../../components/sidebar/Sidebar.astro";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

export const tKey = "alpeadria";
export const index = 2;

const from = 1978;
const to = 1989;
const importantDates = [1978, 1981, 1987, 1988];

export const locations: MapLocation[] = [
  { name: "Venice, Italy", coords: [45.4046658, 12.222527] },
];
---

<Layout>
  <TitleBar
    title1={t("alpeadria.title1")}
    title2={t("alpeadria.title2")}
    author={t("alpeadria.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent locations={locations} client:load />
  </div>

  <Container>
    <TitleCols
      body1={t("alpeadria.intro.first")}
      body2={t("alpeadria.intro.second")}
      rightQuote="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus mollitia nesciunt."
    />

    <!-- </Container> -->
    <div class="py-24">
      <ImageTitleText
        body={t("alpeadria.people.text")}
        image={peopleImg}
        source={t("alpeadria.people.source")}
        title={t("generic.people")}
      />
    </div>
    <!-- <Container> -->
    <LeftText
      body={t("alpeadria.places.text")}
      image={placesImg}
      source={t("alpeadria.places.source")}
      title={t("generic.places")}
    />
    <div class="my-48"></div>
    <RightText
      body={t("alpeadria.practices.text")}
      image={practicesImg}
      source={t("alpeadria.practices.source")}
      title={t("generic.practices")}
    />

    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/POLITICS/", Astro.url.pathname)}
        tKey="politics"
      />
    </div>
  </Container>
</Layout>
