---
import { getLocale } from "astro-i18n-aut";
import { MapComponent, type MapLocation } from "../../components/map/Map";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";

import Timeline from "../../components/navbar/Timeline.astro";
import TitleBar from "../../components/Title/TitleBar.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import peopleImg from "./01_PEOPLE_PUNK.webp";
import placesImg from "./02_PLACES_PUNK.webp";
import practicesImg from "./03_PRACTICES_PUNK MV.webp";
import OverlayText from "../../components/textIslands/OverlayText.astro";
import OverlayRightBox from "../../components/textIslands/OverlayRightBox.astro";

export const tKey = "punk";
export const index = 13;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1980;
const to = 1992;
const importantDates = [1980, 1988, 1990, 1991, 1992];

export const locations: MapLocation[] = [
  { name: "Šempeter pri Gorici", coords: [45.9282944, 13.6397063] },
  { name: "Dobrovo", coords: [45.9967425, 13.5136367] },
  { name: "Udine/Videm", coords: [46.0561145, 13.2029629] },
  { name: "Pula/Pola/Pulj", coords: [44.8665864, 13.8496704] },
  // { name: "Bologna", coords: [46.0561145, 13.2029629] },
];
---

<Layout>
  <TitleBar
    title1={t("punk.title1")}
    title2={t("punk.title2")}
    author={t("punk.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent client:load locations={locations} />
  </div>
  <Container>
    <TitleCols body1={t("punk.intro.first")} body2={t("punk.intro.second")} />
  </Container>
  <OverlayRightBox
    body={t("punk.people.text")}
    image={peopleImg}
    source={"© " + t("punk.people.source")}
    title={t("generic.people")}
  >
    <div class="py-12">
      <a href="/punk.pdf" class="px-8 py-2 bg-brand-beige-dark text-white"
        >Borghesia PDF
      </a>
    </div>
  </OverlayRightBox>

  <div class="bg-black text-white py-48 pt-64">
    <Container>
      <RightText
        body={t("punk.places.text")}
        image={placesImg}
        source={"© " + t("punk.places.source")}
        title={t("generic.places")}
      />
    </Container>
  </div>
  <Container>
    <div class="py-50">
      <LeftText
        body={t("punk.practices.text")}
        image={practicesImg}
        source={"© " + t("punk.practices.source")}
        title={t("generic.practices")}
      />
    </div>
    <!-- <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/PASS/", Astro.url.pathname)}
        tKey="pass"
      />
    </div> -->
  </Container>
</Layout>
