---
import { getLocale } from "astro-i18n-aut";
import { generateTranslationContent, initializei18n } from "../../utils/i18n";
import ArrowNext from "../../components/ArrowNext.astro";

import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import ImageTitleText from "../../components/textIslands/ImageTitleText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";

import peopleImg from "./01_PEOPLE_TVKC.webp";
import placesImg from "./02_PLACES_TVKC.webp";
import practicesImg from "./03_PRACTICES_TVKC.webp";
import TitleBar from "../../components/Title/TitleBar.astro";
import Timeline from "../../components/navbar/Timeline.astro";
import StickyScroll from "../../layouts/StickyScroll.astro";
import { generateLocaleLink } from "../../components/langSelect/languageutils";
import RightText from "../../components/textIslands/RightText.astro";
import { MapComponent, type MapLocation } from "../../components/map/Map";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
const resources = await generateTranslationContent();

export const tKey = "tvkc";
export const index = 6;

const from = 1971;
const to = 1987;
const importantDates = [1971, 1980, 1987];

export const locations: MapLocation[] = [
  { name: "Mount Nanos", coords: [45.8255695, 13.9797003], type: "mountain" },
  {
    name: "Koper/Capodistria",
    coords: [45.5406106, 13.7046291],
    type: "place",
  },
  { name: "Trieste/Trst", coords: [45.6509822, 13.7728388], type: "place" },
];
---

<Layout>
  <TitleBar
    title1={t("tvkc.title1")}
    title2={t("tvkc.title2")}
    author={t("tvkc.author")}
  />
  <StickyScroll>
    <Timeline eventFrom={from} eventTo={to} importantEvents={importantDates} />
  </StickyScroll>
  <div class="">
    <MapComponent
      client:only
      locations={locations}
      locale={locale}
      resources={resources}
    />
  </div>
  <Container>
    <TitleCols body1={t("tvkc.intro.first")} body2={t("tvkc.intro.second")} />
    <ImageTitleText
      body={t("tvkc.people.text")}
      image={peopleImg}
      source={t("tvkc.people.source")}
      title={t("generic.people")}
    />
    <LeftText
      body={t("tvkc.places.text")}
      image={placesImg}
      source={t("tvkc.places.source")}
      title={t("generic.places")}
    />
    <div class="my-48"></div>
    <RightText
      body={t("tvkc.practices.text")}
      image={practicesImg}
      source={t("tvkc.practices.source")}
      title={t("generic.practices")}
    />

    <div class="flex justify-end mt-24">
      <ArrowNext
        href={generateLocaleLink("/CONTRABAND/", Astro.url.pathname)}
        tKey="contraband"
      />
    </div>
  </Container>
</Layout>
